@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.icon-stationen {
  background-image: url('/assets/stationen.png');
  background-size: contain;
}

.icon-unterkunft {
  background-image: url('/assets/unterkunft.png');
  background-size: contain;
}
